* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.chat-box-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

/* chat box header style start  */

.chat-box-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(142, 228, 183);
  padding: 5px 15px;
}

.header-left-part {
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-left-part img {
  height: 100%;
  width: 13vw;
  object-fit: contain;
}

.header-middle-part {
  font-size: 1.7rem;
}

.header-right-part {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-right-part img {
  height: 48%;
  cursor: pointer;
}

.setting-options {
  position: absolute;
  right: 60%;
  top: 70%;
  width: 200px;
  height: 120px;
  background-color: #bea9eb;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
  font-size: 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  gap: 10px;
  visibility: hidden;
  scale: 0;
  opacity: 0;
  transition: 1s;
  z-index: 3;
}

.setting-options > div {
  padding: 2px 8px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.setting-options > div:hover {
  background-color: #fff;
}

.change-bg {
  position: relative;
}

.change-bg-options {
  width: 70%;
  padding: 5px;
  position: absolute;
  right: 90%;
  top: 50%;
  background-color: #f1bbbb;
  border-radius: 10px;
  transition: all 1s;
  scale: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.change-bg-options p {
  padding: 2px 5px;
  border-radius: 10px;
}

.change-bg-options p:hover {
  background-color: hsl(0, 0%, 100%);
}

/* chat box body style start  */

.chat-box-body {
  width: 100%;
  height: 75%;
  background: url("./assets/images/chatbg/bg-1.jpg");
  position: relative;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21c090;
}

.chat-message-container {
  height: auto;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

.message-date {
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  color: rgb(67, 66, 66);
}

.wave-message {
  width: 70%;
  background-color: #cbd4d0;
  text-align: center;
  margin: 0 auto 15px;
  padding: 8px 0;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  overflow: clip;
  overflow-clip-margin: border-box;
}

.message-body {
  display: flex;
  align-items: start;
  gap: 5px;
  margin: 15px 0;
  padding: 0 5px;
  width: 100%;
  position: relative;
}

.message-body:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.message-body img {
  width: 12vw;
  border-radius: 50%;
  border: 2px solid rgb(58, 230, 124);
}

.message-text {
  max-width: 70%;
  position: relative;
}

.reply-message,
.select-message-at-input-box {
  background-color: #b7efcd;
  padding: 10px 15px;
  border-radius: 10px;
  opacity: 0.8;
  cursor: pointer;
}

.reply-message p,
.select-message-at-input-box p {
  padding: 5px 8px;
  background-color: #efeaea;
  border-radius: 5px;
  border-left: 5px solid #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message-text > p {
  background-color: #dbd9d9;
  height: auto;
  padding: 15px 20px;
  border-radius: 10px 20px;
  font-size: 1.1rem;
}

.message-body:nth-child(2n + 1) .message-text > p {
  border-radius: 20px 10px;
}

.message-text .message-react {
  position: absolute;
}

.message-react {
  cursor: pointer;
}

.message-body:nth-child(2n + 1) .message-text .message-react {
  right: 0;
}

/* .message-react span {
  font-size: 0.9rem;
  margin-left: 2px;
} */

.message-text:focus {
  background-color: red;
}

.message-text .message-time {
  display: block;
  margin-left: auto;
  margin-top: 2px;
  width: fit-content;
  font-weight: 500;
  font-size: 0.8rem;
}

.message-last-part {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.edit-msg {
  font-size: 0.7rem;
  font-weight: bold;
}

.message-body:nth-child(2n + 1) .message-text .message-time {
  margin-right: auto;
  margin-left: 0;
}

.message-actions {
  position: relative;
  display: flex;
  align-self: center;
  gap: 5px;
  border: 1px solid rgb(127, 123, 123);
  border-radius: 15px;
  padding: 4px 6px;
  background-color: #eee7e7;
  color: #555353;
  opacity: 0;
  scale: 0.75;
  transition: 1s;
  cursor: pointer;
  z-index: 1;
}

.message-body:hover .message-actions {
  opacity: 1;
  scale: 1;
}

.message-actions-options {
  min-width: 120px;
  position: absolute;
  background-color: rgb(187, 240, 211);
  color: #000;
  transition: 1s;
  border-radius: 10px;
  opacity: 0;
  scale: 0.75;
  visibility: hidden;
}

.message-actions:hover .message-actions-options {
  opacity: 1;
  scale: 1;
  visibility: visible;
}

.message-body:nth-child(2n + 1):not(:last-child) .message-actions-options {
  top: 135%;
  left: 0;
}
.message-body:nth-child(2n + 2):not(:last-child) .message-actions-options {
  top: 135%;
  right: 0;
}

.message-actions-options div {
  margin: 8px 0;
  padding: 8px 7px;
  color: #000;
}

.message-actions-options div:not(:last-child) {
  border-bottom: 1px solid #9f9898;
}

.message-actions-options div:hover {
  font-weight: bold;
}

.message-actions-options div i {
  margin-right: 3px;
}

.message-react-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.chat-box-container
  .message-body:last-child:not(:first-of-type)
  .message-actions-options {
  bottom: 120%;
}

.chat-box-container .message-body:only-of-type .message-actions-options {
  top: 100%;
}

.chat-box-body .search-box {
  position: sticky;
  left: 0%;
  top: 0%;
  display: none;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  height: 50px;
  background-color: rgb(197, 232, 238);
  border-bottom-left-radius: 6px;
  padding: 5px 10px;
  z-index: 2;
}

.search-box input {
  padding: 5px;
  border: none;
  background-color: #fdffff;
  border-radius: 5px;
  height: 70%;
  font-family: "Roboto Condensed", sans-serif;
  flex-grow: 1;
  border: none;
  outline: none;
}

.search-box input:focus {
  border-bottom: 1px solid black;
}

.search-box .search-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.search-box i {
  cursor: pointer;
}

.search-actions p {
  font-size: 1.1rem;
}

.search-close-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
}

/* chat box footer part style start  */

.chat-box-footer {
  width: 100%;
  height: 15%;
  background-color: #e8dfdfaa;
  display: flex;
  flex-direction: column;
  justify-content: space-betweens;
  position: relative;
}

.select-message-at-input-box {
  position: absolute;
  bottom: 100%;
  width: 100%;
  display: none;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.select-message-at-input-box p {
  flex-grow: 1;
}

.remove-select-message-at-input-box {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #000;
  transition: 1s;
}
.remove-select-message-at-input-box:hover {
  scale: 1.1;
  color: red;
}

.footer-upper {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-upper img {
  width: 10vw;
  cursor: pointer;
}

.footer-upper textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px 15px;
  background-color: #9ceec4;
  border-radius: 0 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  resize: none;
  scrollbar-width: none;
}

.footer-upper textarea::placeholder {
  color: #514d4d;
}

.like-img:hover {
  transition: 1s;
  /* transform: scale(1.2); */
  animation: likeBtnAnimation 1.5s linear infinite;
}

@keyframes likeBtnAnimation {
  50% {
    transform: rotate(-25deg) scale(1.1);
  }
}

@keyframes blinkBg {
  50% {
    background-color: #514d4d;
  }
}

.footer-bottom {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5px;
  height: 100%;
}

.emoji-section-img,
.font-style-img {
  width: 8vw;
  object-fit: contain;
  cursor: pointer;
  margin-right: 5px;
}

.emojis,
.font-style {
  position: relative;
}

.emoji-collections,
.font-style-collection {
  position: absolute;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #989fc4;
  display: grid;
  font-size: 1.3rem;
  padding: 5px;
  gap: 3px;
  visibility: hidden;
  scale: 0.5;
  opacity: 0;
  transition: 1s;
}

.emoji-collections {
  bottom: 55px;
  left: 5px;
  width: 200px;
  height: 180px;
  grid-template-columns: repeat(6, 1fr);
}

.emoji-collections p {
  cursor: pointer;
}

.emoji-collections::after,
.font-style-collection::after {
  top: 100%;
  left: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #989fc4;
  border-width: 15px;
  margin-left: 0px;
}

.font-style-collection::after {
  border-width: 10px;
}

.font-style-collection img {
  width: 4vw;
  cursor: pointer;
}

.font-style-collection {
  grid-template-columns: repeat(4, 1fr);
  bottom: 55px;
  left: 0;
  width: fit-content;
  height: fit-content;
  padding: 15px 20px;
  gap: 20px;
}

/* .font-style:hover .font-style-collection {
  visibility: visible;
  scale: 1;
  opacity: 1;
} */

.footer-bottom-left {
  display: flex;
  align-items: center;
}

.footer-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color: #2d446e;
}

.send-btn,
.edit-btn {
  padding: 14px 35px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  border-radius: 14px 35px;
  cursor: pointer;
  border: 0;
  height: 100%;
}

.send-btn {
  background: linear-gradient(to bottom, #7a7070, #000);
  color: #fff;
  display: block;
}

.send-btn:hover {
  animation: changeBg 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edit-btn {
  background: linear-gradient(to top, #33e47f, #8eec91);
  box-shadow: -3px 1px 2px #9b9797;
  transition: 1s;
  color: #000;
  display: none;
}

.edit-btn:hover {
  box-shadow: none;
}

/* modal css start  */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: all 1s;
}

.modal .overlay {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
}

.modal .modal-body .profile-change {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: linear-gradient(to right, #67de7f, #e5ffb0);
  width: 80%;
  padding: 25px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 3px 3px 3px #080808;
  opacity: 0;
  scale: 0;
}

.modal-body p {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.modal-body .profile-change input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  width: 100%;
  height: 40px;
  font-family: "Roboto Condensed", sans-serif;
}

.modal-body .profile-change input:invalid {
  border: 2px solid red;
}

.input-err-msg {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(24, 22, 22);
  display: none;
}

.modal-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.modal-action button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 1s;
  border: none;
  outline: none;
}

.modal-action .yes-btn {
  background-color: #40ed97;
  color: #000;
  box-shadow: 2px 2px 2px #000;
}

.modal-action .yes-btn:hover {
  box-shadow: none;
}

.modal-action .no-btn {
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 2px gray;
}

.modal-action .no-btn:hover {
  box-shadow: none;
}

.profile-img-preview {
  width: 25vw;
  border-radius: 10px;
}

.profile-change-success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  border-radius: 15px;
  padding: 20px 15px;
  text-align: center;
}

.profile-change-success img {
  width: 18vw;
}

.profile-change-success p {
  color: #6a6e6b;
  font-size: 1.1rem;
}

.hide {
  visibility: hidden;
  scale: 0;
  opacity: 0;
}

.show {
  visibility: visible;
  scale: 1;
  opacity: 1;
}

.highlight {
  background-color: #ffee00;
}

@keyframes changeBg {
  50% {
    background: linear-gradient(to left, #b3a3a3, #000);
  }
}

@media (min-width: 320px) {
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
  .chat-box-container {
    width: 90%;
    height: 90vh;
    border-radius: 15px;
  }

  .chat-box-header {
    height: 15%;
  }

  .header-left-part img {
    width: 11vw;
  }
  .header-middle-part {
    font-size: 2rem;
  }

  .header-right-part img {
    height: 50%;
  }

  .chat-box-body {
    height: 70%;
  }

  .wave-message {
    width: 40%;
  }

  .message-body img {
    width: 6vw;
  }

  .chat-box-footer {
    height: 15%;
  }

  .footer-upper img {
    width: 9vw;
  }

  .emoji-section-img,
  .font-style-img {
    width: 6vw;
  }

  .emoji-collections,
  .font-style-collection {
    bottom: 70px;
  }

  .font-style-collection img {
    width: 3vw;
  }

  .send-btn,
  .edit-btn {
    padding: 10px 20px;
    border-radius: 10px 20px;
  }

  .modal .modal-body .profile-change {
    width: 60%;
  }

  .profile-img-preview {
    width: 15vw;
    border-radius: 10px;
    object-fit: contain;
  }

  .profile-change-success {
    width: 60%;
  }
  .profile-change-success img {
    width: 14vw;
  }
}
@media (min-width: 992px) {
  .chat-box-container {
    width: 50%;
  }

  .header-left-part img {
    width: 5vw;
  }
  .message-body img {
    width: 3vw;
  }

  .footer-upper img {
    width: 3vw;
  }

  .emoji-section-img,
  .font-style-img {
    width: 2vw;
  }

  .emoji-collections {
    bottom: 50px;
    left: 0;
  }

  .font-style-collection {
    bottom: 45px;
  }

  .font-style-collection img {
    width: 1vw;
  }

  .modal .modal-body .profile-change {
    width: 50%;
  }

  .profile-change-success {
    width: 30%;
  }

  .profile-change-success img {
    width: 6vw;
  }
}
